body {
    color-scheme: dark;
    background-color: darkgoldenrod;
    padding: 2ch;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 24px ;
    border-radius: .5em;
}

#parent {
    width:800px;
    height: 600px;
    display:inline-block;
    position:relative;
}

#toolbar {
    background-color: black;
    padding: 3px ;
    margin-right: 25px;
    text-align: right;
    width:800px;
    position:relative;
    margin-bottom: 2px;
    border-radius: .5em;
}

#instructions {
    display: inline-block ;
    text-align: left;
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    background-color: green;
    color: aliceblue ;
    font-size: large;
    border-radius: 3px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    height: 2em; 
}

#github {
    position: absolute;
    bottom: 10px ;
    background-color: rgb(182, 143, 45) ;
    border: 1px solid rgba(119, 86, 4, 0.5) ;
    border-radius: .5ch;
    width: 95% ;
    height: 25px;
    vertical-align: middle;
    text-align: center;
}

#github a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
